*, html{
    margin: 0;
    padding: 0;
}

/* header */

.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  nav {
    background-color: #ac2e2e;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-left: 46cm;
    position: absolute;
    margin-top: 20px;
  }
  
  .login{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-right: 100px;
  }
  
  .login:hover {
    color: rgb(0, 0, 0);
  }
  
  .logonav {
    width: 200px;
    clip-path: polygon(10% 30%, 90% 30%, 90% 70%, 10% 70%);
    position: absolute;
    top: -57px;
  }
  
  .search-form {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 15px 250px;
    border: 1px solid #ccc;
    margin-left: 400px;
    margin-top: 20px;
    padding-left: 20px;
  }
  
  button[type="submit"] {
    display: inline-block;
    padding: 15px 20px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]::after {
    content: "";
    position: absolute;
    margin-left: 10px;
    width: 50%;
    height: 2px;
    background-color: #000000;
    left: 0;
    bottom: 5px;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
  }
  
  button[type="submit"]:hover {
    font-weight: bold;
  }
  
  button[type="submit"]:hover::after {
    transform: scaleX(1);
  }

/* isi */

.cover{
    padding: 50px;
    padding-top: 120px;
    height: 40%;
    width: 40%;
    display: block;
    margin: 0 auto;
}

h1{
    text-align: center;
    padding: 20px;
}

.quote{
    text-align: center;
}

.tableresto{
    border-style: none;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 50px;
}

.money{
    height: 10%;
    width: 10%;
    margin-right: 3px;
}

.harga{
    display: inline;
    vertical-align: middle;
}

td{
    size: 1px;
    padding: 20px;
    border-radius: 15px;
}

.ayam{
    height: 100%;
    width: 100%;
}

.namaresto{
    color: #AC2E2E;
    font-weight: bold;
}

.seepaw{
    background-color: #AC2E2E;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 8px;
    width: 50%;
    border-radius: 25px;
    transition: .2s ease-in-out;
    display: block;
    margin: 0px auto;
  }
  
  .seepaw:hover{
    color: gray;
  }

 /* footer */

 .footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: bottom;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer p {
    text-align: center;
    align-items: center;
  }
  
  .footer-left a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .footer-left img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
    margin-left: 10px;
  }
  
  .logo {
    width: 200px;
    height: 90px;
    margin-right: 30px;
  }
  
  .logonav {
    width: 200px;
    clip-path: polygon(10% 30%, 90% 30%, 90% 70%, 10% 70%);
    position: absolute;
    top: -57px;
  }