body {
    font-family: Arial, sans-serif;
    background-color: #AC2E2E;
    background-size: cover;
    background-position: left;
    margin: 0;
    padding: 0;
}

.background-container {
    position: absolute;
    width: 100px;
    height: 100px; /* Sesuaikan tinggi gambar */
}

.background4 {
    position: relative;
    right: 0px; /* Sesuaikan posisi horizontal gambar */
    width: 1000px; /* Sesuaikan lebar gambar */
    height: 500px; /* Sesuaikan tinggi gambar */
    z-index: -1;
    object-fit: cover;
}

.background-header {
    position: absolute;
    top: 545px;
    left: 270px;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 62px;
    text-align: left;
    width: 400px;
}
.background-paragraph {
    position: absolute;
    bottom: 75px;
    left: 600px;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.6; /* Menentukan jarak antara baris */
    text-align: left;
    width: 350px; /* Menentukan lebar area teks */
}

.login-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    padding-left: 200px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    stroke: #AC2E2E;
    stroke-width: 12px;
}
.image-container {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.image {
    position: relative;
    top: -80px;
    right: -270px;
    width: 200px;
    height: auto;
    z-index: -1;
    object-fit: cover;
}


.login-container h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 24px;
    color: #AC2E2E;
    font-size: 56px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
}

.input-group input:focus {
    outline: none;
    border-bottom: 2px solid #AC2E2E;
}

.login-container button {
    background-color: #AC2E2E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

.input-group label {
    display: block;
    margin: 5px 0;
    text-align: left;
}

.login-container a {
    display: block;
    margin-top: 20px;
    color: #AC2E2E;
    text-decoration: none;
    text-align: left;
}

.login-container p {
    margin-top: 20px;
    text-align: left;
    margin-left: 15px;
}

.forgot-password {
    text-align: center;
    width: 100%;
    align-items: center;
    margin-left: 33px;
}
.register-link a{
    text-align: center;
    width: 100%;
    align-items: center;
}

.input-group.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.input-group.remember-me label {
    white-space: nowrap;
    margin-right: 25px;
    text-align: left;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    text-align: center;
    align-items: center;
}

.footer-left a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.footer-left img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
    margin-left: 10px;
}

.footer-right .logo {
    width: 100px;
    height: 50px;
    margin-right: 30px;
}



