.container {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    margin-top: 100px;
    
}

header {
    flex: 1;
}

header h1 {
    margin: 0;
    font-size: 54px;
    font-family: Poppins;
    width: 300px;
    margin-left: 20%;
}

.input-container {
    flex: 1;
}

input[type="text"] {
    width: 400px;
    height: 60px;
    padding: 20px;
    padding-left: 40px;
    border: 1px solid #000000;
    font-family: Poppins;
    font-weight: lighter;
    font-size: 26px;
    margin-left: 60px;
}

.image-preview {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 20px;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
}
